.input {
  --block-size-content: var(--font-size-3);
  --block-padding: 0;
  --block-size: calc(var(--block-size-content) + var(--block-padding) * 2);
  --value-padding: var(--size-2);

  display: grid;
  gap: var(--size-1);
  border-radius: var(--radius-1);
}

.currency-list {
  flex: none;
  overflow: hidden;
  position: relative;
  block-size: var(--block-size);
}

.value {
  display: flex;
  block-size: var(--font-size-6);
  font-family: var(--font-sans-alt);
  padding-inline-end: var(--value-padding);
}

.accent {
  --color-text: var(--color-accent);
}

.currencyPrev {
  position: absolute;
  inline-size: 100%;
  top: 100%;
}

/* reverse */

.reverse .value {
  flex-direction: row-reverse;
  padding-inline-start: var(--value-padding);
  padding-inline-end: 0;
}
