.app {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--size-2);
  block-size: 100%;
  max-width: var(--size-8);
  margin-inline: auto;
  padding-block: 7vh;
}

.display {
  flex: none;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-2);
  padding-block-start: var(--size-0);
  padding-block-end: var(--size-3);
  padding-inline: var(--size-1);
  background: linear-gradient(
      to right,
      var(--color-white-2) calc(50% - 2px),
      var(--color-white-0) calc(50% - 2px),
      var(--color-white-3) calc(50% + 2px),
      var(--color-white-2) 0%
    )
    no-repeat;
  background-size: 100% calc(100% - var(--size-2));
  border-radius: var(--radius-3);
}

.info {
  position: absolute;
  block-size: var(--size-2);
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  gap: var(--size-1);
  padding-inline: var(--radius-2);
  background-color: var(--color-white-3);
  z-index: 1;
  box-shadow: 0 0 var(--size-1) var(--color-black-5);
  line-height: var(--size-2);
}

.info > *:first-child {
  justify-content: start;
}

.info > *:last-child {
  justify-content: end;
}

.currencyName {
  display: flex;
  block-size: var(--font-size-0);
}

.currency-date {
  text-align: center;
  font-size: var(--font-size-0);
}

.swap-button {
  --size: var(--size-3);
  position: absolute;
  left: calc(50% - var(--size) / 2);
  top: calc(50% - var(--size) / 2);
  width: var(--size);
  height: var(--size);
  color: var(--color-text);
  background-color: var(--color-white-1);
  border-radius: var(--radius-round);
  box-shadow: 0 0 var(--size-1) var(--color-black-5);
  padding: var(--size-0);
  border: 1px solid var(--color-white-1);
  backdrop-filter: blur(2px);
}

/*@media only screen and (orientation: landscape) {*/
/*  .calculator,*/
/*  .tabs {*/
/*    display: none;*/
/*  }*/
/*}*/
