.numpad {
  --radius: var(--radius-3);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  font-size: var(--font-size-4);
  line-height: var(--font-lineheight-1);
  gap: 0.6rem;
  color: var(--color-text);
  font-weight: 150;
  font-family: var(--font-sans-alt);
  margin: 0 auto;
  width: calc(100% + -7.3vw);
  aspect-ratio: 0.81;
}

.numpad > :where(button) {
  display: grid;
  place-items: center;
  block-size: 2.5em;
  background-color: #fff2;
  transition: background-color 150ms ease-out;
  border-radius: var(--radius-pill);
  width: 100%;
}

.numpad > button:active {
  background-color: #fff5;
  transition: background-color 0ms;
}

.numpad > button * {
  pointer-events: none;
}

.zero {
  grid-template-columns: subgrid;
  grid-column: 1 / 3;
  display: grid;
  aspect-ratio: 2 / 1;
}

.result {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-area: 4 / 4 / 6;
  aspect-ratio: 1 / 2;
}

.accent {
  font-weight: 500;
  background-color: #fff3;
}

.reset {
  background-color: #ff8f12;
}

.reset:active {
  background-color: #ffb561 !important;
}

.highlight {
  color: var(--color-text);
  background-color: var(--color-accent);
}
