.currency-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-1);
  padding-block: var(--block-padding);
  will-change: transform;
}

.currency {
  height: var(--block-size-content);
  display: flex;
  align-items: center;
  gap: var(--size-00);
  font-size: var(--block-size-content);
  line-height: var(--block-size-content);
  font-weight: 800;
  letter-spacing: -0.8px;
  opacity: 0.85;
  text-transform: uppercase;
  text-shadow: 0 0 4px #000;
}

.flag {
  transform: translateY(1px);
  pointer-events: none;
  object-fit: cover;
  height: calc(0.75 * var(--block-size-content));
  aspect-ratio: 1.3;
  border-radius: 4px;
  text-shadow: 0 0 4px #000;
}

.ratio {
  display: flex;
  flex: 1;
  justify-content: end;
  font-family: var(--font-sans-alt);
  block-size: var(--font-size-1);
  opacity: 0.5;
  text-shadow: 0 0 2px #000;
}

/* reverse */

.reverse.currency-row {
  flex-direction: row-reverse;
}

.reverse .currency {
  flex-direction: row-reverse;
}

.reverse .ratio {
  justify-content: start;
}
