.list {
  list-style: none;
  padding: var(--size-0) 0;
  margin: 0;
}

.all-list {
  overflow-y: auto;
}

.all-list .item:nth-child(odd) {
  /*background-color: var(--color-white-2);*/
}

.item {
  overflow: hidden;
}

.selected {
  color: #ff8f12;
}

.currency {
  block-size: var(--item-block-size);
  inline-size: 100%;
  display: flex;
  align-items: center;
  gap: var(--size-0);
  text-align: start;
  font-weight: 400;
  font-size: var(--font-size-2);
  transition: color 100ms ease-in;
}

.flag {
  transform: translateY(1px);
  pointer-events: none;
  object-fit: cover;
  height: var(--size-2);
  aspect-ratio: 1.2;
  border-radius: 4px;
  text-shadow: 1px 1px 0 #000a;
}

.empty {
  padding: var(--size-3) var(--size-2);
  text-align: center;
  color: var(--color-text-secondary);
  font-size: var(--font-size-1);
}
