.glass-layer {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(135deg, var(--color-white-2) 0%, var(--color-black-1) 100%);
  backdrop-filter: blur(40px) saturate(200%);
  -webkit-backdrop-filter: blur(40px) saturate(200%);
  border-radius: inherit;
  outline: 2px solid var(--color-white-4);
}
