html:has(.currencies) {
  font-size: 20px;
}

.currencies {
  --item-block-size: 2.25rem;
  --max-elements: 5.4;

  position: relative;
  block-size: 100%;
}

.currencies h2 {
  flex: none;
  z-index: 1;
  position: sticky;
  top: 0;
  font-weight: 600;
  font-size: var(--font-size-3);
  line-height: var(--font-lineheight-0);
  padding: var(--size-0) 0 0;
  margin: 0;
  background-color: var(--color-layer-0);
}

.currencies h2:not(:first-of-type) {
  margin-top: var(--size-1);
}

.lists {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-block-end: var(--size-4);
}

.list {
  list-style: none;
  padding: var(--size-0) 0;
  margin: 0;
}

.picked-list {
  --fade-size: var(--size-1);
  --list-block-size: calc(var(--item-block-size) * var(--max-elements) + var(--size-0));

  position: relative;
  flex: none;
  overflow-y: auto;
  block-size: var(--list-block-size);
  mask: linear-gradient(
    to bottom,
    transparent 0,
    /* от 0 до */ #000 var(--fade-size),
    /* от 1rem — начинает идти цвет */ #000 calc(100% - var(--fade-size)),
    /* до высоты минус 1rem — тот же цвет */ transparent 100% /* до конца элемента */
  );
  /*mask-image: linear-gradient(to top, #0000, #000 1rem)*/
  /*-webkit-mask-image: linear-gradient(transparent, red);*/
}

.all-list .item:nth-child(odd) {
  background-color: #fff1;
}

.currency {
  block-size: var(--item-block-size);
  inline-size: 100%;
  display: flex;
  align-items: center;
  gap: var(--size-0);
  padding: var(--size-00) 0;
  cursor: pointer;
  text-align: start;
  font-weight: 300;
  font-size: var(--font-size-1);
  transition: color 100ms ease-in;
}

.selected {
  color: #ffcd12;
}

.flag {
  transform: translateY(1px);
  pointer-events: none;
  object-fit: cover;
  height: var(--size-2);
  aspect-ratio: 1.3;
  border-radius: 4px;
  text-shadow: 0 0 4px #000;
}

.picked-icon {
  margin-left: auto;
  color: #ffcd12;
  animation: picked 150ms ease-out forwards;
}

.back-button {
  position: fixed;
  bottom: var(--size-2);
  left: calc(50% - 3rem);
  width: 6rem;
  padding: var(--size-00) 0;
  background-color: var(--color-accent);
  border-radius: var(--radius-pill);
}

@keyframes picked {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  66% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
