.currencies {
  --item-block-size: 2.2rem;
  --max-elements: 5.4;

  position: relative;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--size-0);
  overflow: hidden;
}

.lists {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-block-end: var(--size-4);
}
