html:has(.currencies) {
  font-size: 20px;
}

.currencies {
  --item-block-size: 2.25rem;
  --max-elements: 5.4;

  position: relative;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--size-0);
}

.lists {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-block-end: var(--size-4);
}

.back-button {
  position: fixed;
  bottom: var(--size-2);
  left: calc(50% - 3rem);
  width: 6rem;
  padding: var(--size-00) 0;
  background-color: var(--color-accent);
  border-radius: var(--radius-pill);
}
