html:has(.currencies) {
  font-size: 20px;
}

.currencies {
  --item-block-size: 2.25rem;
  --max-elements: 5.4;

  position: relative;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--size-0);
}

.currencies h2 {
  flex: none;
  z-index: 1;
  position: sticky;
  top: 0;
  font-weight: 600;
  font-size: var(--font-size-3);
  line-height: var(--font-lineheight-0);
  padding: var(--size-0) 0 0;
  margin: 0;
  background-color: var(--color-layer-0);
}

.currencies h2:not(:first-of-type) {
  margin-top: var(--size-1);
}

.lists {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-block-end: var(--size-4);
}

.back-button {
  position: fixed;
  bottom: var(--size-2);
  left: calc(50% - 3rem);
  width: 6rem;
  padding: var(--size-00) 0;
  background-color: var(--color-accent);
  border-radius: var(--radius-pill);
}
