.container {
  container-type: size;
  inline-size: 93%;
  min-inline-size: 0;
  min-block-size: 0;
  aspect-ratio: 0.8;
  margin-inline: auto;
}

.numpad {
  --cols: 4;
  --rows: 5;
  --gap: 0.5rem;
  --radius: var(--radius-3);
  /* размер ячейки по ширине и высоте */
  --cell-w: calc((100cqi - (var(--cols) - 1) * var(--gap)) / var(--cols));
  --cell-h: calc((100cqb - (var(--rows) - 1) * var(--gap)) / var(--rows));
  /* итоговый размер — минимальный из двух */
  --cell: min(var(--cell-w), var(--cell-h));

  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell));
  grid-template-rows: repeat(var(--rows), var(--cell));
  place-content: center;
  gap: var(--gap);
  inline-size: 100%;
  block-size: 100%;

  font-size: var(--font-size-5);
  line-height: var(--font-lineheight-0);
  color: var(--color-text);
  font-weight: 200;
  font-family: var(--font-sans-alt);
}

.numpad > :where(button) {
  display: grid;
  place-items: center;
  background-color: var(--color-white-2);
  transition: background-color 150ms ease-out;
  border-radius: var(--radius-pill);
  inline-size: 100%;
  block-size: 100%;
  min-inline-size: 0;
  min-block-size: 0;
  border: 1px solid var(--color-white-1);
}

.numpad > button * {
  pointer-events: none;
}

.zero {
  grid-template-columns: subgrid;
  grid-column: 1 / 3;
  display: grid;
  aspect-ratio: 2 / 1;
}

.result {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-area: 4 / 4 / 6;
  aspect-ratio: 1 / 2;
}

.accent {
  font-weight: 500;
  background-color: var(--color-white-3);
}

.reset {
}

.highlight {
  border-color: #ff8f12;
  color: #ff8f12;
}
