[data-rsbs-scroll] {
  overscroll-behavior: contain;
}

.sheet {
  --rsbs-bg: transparent;
  --rsbs-handle-bg: var(--color-white-9);
  --rsbs-overlay-rounded: var(--size-3) !important;
  position: relative;
}

.content {
  padding: 0;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.glassLayer {
  min-height: 100%;
  border-radius: var(--size-2) var(--size-2) 0 0;
}
