.sheet {
  --rsbs-backdrop-bg: var(--color-black-5);
  --rsbs-bg: transparent;
  --rsbs-handle-bg: var(--color-white-4);
  --rsbs-max-w: 100vw;
  --rsbs-ml: 0;
  --rsbs-overlay-rounded: var(--size-3) var(--size-3) 0 0;
  position: relative;
}

.content {
  padding: 0;
  block-size: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
