.search-input {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--size-0);
  padding: var(--size-00) var(--size-0);
  margin-block-end: var(--size-0);
  background-color: var(--color-layer-1);
  border-radius: var(--radius-2);
  border: 1px solid var(--color-layer-2);
}

.icon {
  flex: none;
  width: var(--size-2);
  height: var(--size-2);
  color: var(--color-text-secondary);
}

.input {
  flex: 1;
  border: none;
  background: transparent;
  color: var(--color-text-primary);
  font-size: var(--font-size-1);
  font-weight: 300;
  outline: none;
}

.input::placeholder {
  color: var(--color-text-secondary);
  opacity: 0.6;
}

.clear {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-2);
  height: var(--size-2);
  padding: 0;
  border: none;
  background: transparent;
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: color 100ms ease-in;
}

.clear:hover {
  color: var(--color-text-primary);
}

.clear svg {
  width: 100%;
  height: 100%;
}
