@font-face {
  font-weight: 100 800;
  font-family: oook;
  font-style: normal;
  src: url('/fonts/oook.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 100 1000;
  font-family: sfns;
  font-style: normal;
  src: url('/fonts/sfns.woff2') format('woff2');
  font-display: swap;
}
