html {
  font-size: 16px;
}

body {
  overflow: hidden;
  block-size: 100%;
  font-family: var(--font-sans);
  font-size: var(--size-1);
  line-height: var(--font-lineheight-1);
  color: var(--color-text);
  background-color: var(--color-layer-0);
}

#root {
  block-size: 100%;
}

/* Hide library backdrop completely */
[data-rsbs-backdrop] {
  display: none !important;
}
