:where(*, *::before, *::after) {
  box-sizing: inherit;
  -webkit-user-select: inherit; /* Safari */
  user-select: inherit;
}

:where(html, body) {
  height: 100%;
}

:where(input, button) {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  font: inherit;
  color: inherit;
  padding: 0;
}

:where(img, svg) {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior-y: none;
  touch-action: pan-x pan-y;
  margin: 0;
}
