:root {
  --font-sans: sfns, system-ui, -apple-system, segoe ui, roboto, ubuntu, sans-serif;
  --font-sans-alt: oook, system-ui, -apple-system, segoe ui, roboto, ubuntu, sans-serif;

  /* font scale: 1.25 */
  --font-size-00: 0.64rem;
  --font-size-0: 0.8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1.5625rem;
  --font-size-4: 1.9531rem;
  --font-size-5: 2.4414rem;
  --font-size-6: 3.0518rem;
  --font-size-7: 3.8147rem;
  --font-size-8: 4.7684rem;
  --font-size-9: 5.9605rem;

  --font-lineheight-0: 0.8;
  --font-lineheight-1: 1.4;

  /* radius */
  --radius-0: var(--font-size-00);
  --radius-1: var(--font-size-0);
  --radius-2: var(--font-size-2);
  --radius-3: var(--font-size-4);
  --radius-pill: 1e5px;
  --radius-round: 50%;

  /* sizes scale: 1.618 */
  --size-0000: 0.14rem;
  --size-000: 0.24rem;
  --size-00: 0.382rem;
  --size-0: 0.6181rem;
  --size-1: 1rem;
  --size-2: 1.6181rem;
  --size-3: 2.6179rem;
  --size-4: 4.2358rem;
  --size-5: 6.8535rem;
  --size-6: 11.089rem;
  --size-7: 17.942rem;
  --size-8: 29.031rem;

  /* colors */
  --color-accent: #1bf;
  --color-accent-2: #fb0;
  --color-text: #fffe;
  --color-layer-0: hsl(240deg 30% 0%);
  --color-layer-1: hsl(240deg 10% 30%);
  --color-layer-2: hsl(240deg 10% 50%);

  color-scheme: dark;
}
